/* nunito sans serief font family only for heading tag in website website */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
/* poopins fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:var(--content-font);
}
html{
    scroll-behavior: smooth;
}
/* colors for our website */
:root {
    --primary: #86B817;
    --secondary: #FE8800;
    --light: #F5F5F5;
    --dark: #14141F;
    --heading-font:'Nunito', sans-serif;
    --content-font: 'Poppins', sans-serif;
    --para:#808080;
}
/* font styles for heading tag */
h1,h2,h3,h4,h5,h6{
    font-family:var(--heading-font);
}
/* styles for header section */
/* responsive font-size */
/* top-bar styles */
header .top-bar{
    height:45px;
    background-color:var(--dark);
    color:var(--light);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 3em; 
    height:50px;
}
/* left-side address area in top bar */
.top-bar small i{
    padding:5px;
}
.off-address{
    display:inline-flex;
    gap:15px;
}
/* right side area in top-bar */
.top-bar .right-social i{
  border:1px solid var(--light);
  padding:8px;
  border-radius:50%; 
}
.top-bar .right-social{
    display:inline-flex;
    gap:10px;
}
/* top bar ends */

/* navigation  bar and banner styles starts */
.banner{
    height:100vh;
    width:100%;
    background:linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)),url('../images/bg-hero.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.banner-text span{
    color:var(--primary)
}
.banner-text p{
    color: white;
}

/* navigation bar styles */
nav{
    background-color:var(--light);
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:80px;
    padding:0px 30px;
    background-color:transparent;
    z-index:9999;
    animation-name:nav-movement;
    animation-iteration-count:1;
    animation-timing-function: ease;
    animation-duration:3s;
}
@keyframes nav-movement{
    from{
     transform:translatex(-30%);
     opacity:0;
    }
    to{
     transform:translatex(0);
     opacity:1;
    }
 }
/* logo design */
nav h1{
   color:var(--primary);
   font-size:40px;
   cursor:pointer;
}
/* navigation links styles */
.nav-links ul{
    list-style-type:none;
    display:flex;
    gap:15px;
    padding:5px 10px;   
}
.nav-links ul li{
  display:inline-block;
  padding:5px 15px;
  text-transform:capitalize; 
  color:var(--light);
}
.nav-links ul li a:hover{
    color:var(--primary);
}
/* this is anchor and anchor after element styles*/
ul li a{
    position:relative;
    transition:ease-in-out 0.5s;
    display:inline-block;
    text-decoration:none;
    color:var(--light);
    padding:2px 0;
}
ul li a::before,
ul li a::after{
    content:"";
    width:0;
    background-color:var(--light);
    height:2px;
    position:absolute;
}
ul li a::after{
    right:0;
    bottom:-2px;
}
ul li a::before{
    left:0;
    top:-3px;
}
ul li a:hover:before,
ul li a:hover:after{
   width:100%;
   transition:ease 0.5s;
}
/*this style for register buton in navigation bar */
.nav-links ul .last-child{
    background-color:var(--primary);
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:var(--light);
}
.nav-links ul .last-child:hover{
    background-color:var(--light);
}
.nav-links ul .last-child:hover a{
    color:var(--primary);
}
.nav-links ul li:last-child a::before,
.nav-links ul li:last-child a::after{
    display:none;
}
.nav-links ul li button{
    border-radius:10px;
    padding:5px 10px;
    display:none;
}
/* style for angle down arrow in dropdown menu */
ul li .fa-angle-down{
    padding-left:0px;
}

/* navigaion bar sicky at the top:0 */
header nav{
    position:sticky;
    top: 0;
}
/* dropdown menu design */
nav ul li{
    position:relative;
    
}
ul li .dropdown-menu{
    display:flex;
    flex-direction:column;
    background-color:var(--light);
    position:absolute;
    top:40px;
    left:-20px;
    width:150px;
    display:none;
}

ul li .dropdown-menu a{
    color:var(--dark);
}
/* dropdown view during the hovering */
ul .dropdown-li:hover .dropdown-menu{
    display:block;
}
/* responsive navigation bar styles */
nav .fa-bars,nav label{
    display:none;
    color:var(--light);
}
nav input{
    display:none;
}
/* banner text styles */
.banner .bannertext-container{
    width:100%;
    height:calc(100vh - 80px);
    display:flex;
    justify-content:center;
    align-items:center;
}
.banner .bannertext-container h1{
    text-align:center;
    font-size:48px;
    color:var(--light);
    padding:15px 0;
}
.banner .bannertext-container h3{
    text-align:center;
    color:var(--light);
    padding:10px;
}
.bannertext-container .searchbox-container{
   width:100%;
   /* background-color:var(--primary); */
  display:flex;
  justify-content:center;
  padding:10px;
}
/* style for search input container */
.bannertext-container .search-box{
    text-align:center;
    position:relative;
    width:100%;
    text-align:center;
}
/* style for search input */
.search-box input[type="search"]{
    width:100%;
    padding:18px 15px;
    border-radius:30px;
    border:none;
    outline-color:var(--primary);
    outline-offset: 2px;
    z-index:-1;
}
.search-box input[type="search"]::placeholder{
    font-size:18px;
}
/*styles button inside the search box */
.search-box button{
    padding:10px 15px;
    border-radius:30px;
    border:none;
    position:absolute;
    right:10px;
    top:5px;
    background-color:var(--primary);
    color:var(--light);
    font-size: 18px;
}
/* media query for responsive navigation bar */
@media only screen and (max-width:1033px){
    nav .fa-bars,nav label{
        display:inline-block;
       
    }
    nav .fa-x{
        display:none;
        font-weight:bold;
        font-size:32px;
    }
    .nav-links{
        position:fixed;
        top:80px;
        width:100%;
        left:-100%;
        transition:all 1s;
        background-color:var(--secondary); 
    }
    .nav-links ul{
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:20px;
    }
    ul li .dropdown-menu{
        left:100px;
        top:5px;
        z-index:99;
        background-color:rgba(128, 128, 128,0.4); 
    }
    ul li .dropdown-menu li a{
        color:var(--light);
        padding:5px 0;
    }
    ul li a{
        font-size:18px;
        letter-spacing: 2px;
        padding:10px 0;
    }
    header .top-bar{
        display:none;
    }
    nav input:checked~.nav-links{
            left:0;
    }
    nav label .fa-bars{
        font-size:32px;
        font-weight:bold;
    }
    nav input:checked ~label .fa-bars{
        display:none;
   }
   nav input:checked ~label .fa-x{
     display:inline-block;
     font-weight:bold;
     color:var(--light-color);
     cursor:pointer;
   }
   ul li{
    padding:0;
   }
   .banner .bannertext-container{
    height:calc(100vh - 80px);
   }
}

/* footer design starts */
/* footer design starts */
footer{
    background-color:var(--dark);
    padding-top:5rem;
    padding-right:7rem;
    padding-left:7rem;
    color:var(--light);
}
.footer-content{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    padding-bottom:50px;
    text-align:left;
}

/*footer content containd 4 section(contact,company,gallery,newsletter)*/
/* gallery section design */
footer .gallery div > img{
    width: 30%;
    height: 80px;
    border:3px solid var(--light);
    cursor: pointer;
}
footer .gallery div > img:hover{
    border: 3px solid var(--secondary);
}
/* footer>company section designs */
.company p i{
   padding-right:5px;
}
.company p:hover{
   letter-spacing:2px;
   transition:ease 1s;
   cursor:pointer;
}
footer h3{
    padding-bottom:15px;
}
.company p,.contact p,.newsletter p{
    padding:5px;
}
/* footer content >contact section designs */
.contact .contact-icons i{
   border:1px solid var(--light);
   border-radius:50%;
   padding:8px;
}
.contact .contact-icons{
    padding-top:15px;
}
.contact i{
    padding-right:8px;
}
.contact-icons i:hover{
    background-color:var(--light);
    color:var(--primary);
    transition:ease 1s;
}
/* footer content > news letter section designs */
footer .newsletter .footer-search{
    position:relative;
    border-radius: 30px;
}
.footer-search button{
    position:absolute;
    right:8px;
    padding:4px 10px;
    top: 8px;
    background-color:var(--primary);
    color:var(--light);
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
}
.footer-search input{
    width:100%;
    padding:10px;
    border:3px solid var(--primary);
    outline-color: var(--primary);
    outline:none;
    padding-right:90px;
    border-radius: 30px;
    box-shadow: 0px 0px 4px var(--primary);

}
.footer-search input:focus{
    outline: 2px solid var(--primary);
}

/* footer copy right section designs */
footer .copyright{
    display:flex;
    justify-content:space-between;
    padding:30px 0;
}
.copyright span{
    border-right:1px solid var(--light);
    padding:0 10px;
    display:inline-block;
   
}
.copyright .bord-unset{
    border:unset;
}
/* responsive code for footer */
@media only screen and (max-width:768px){
    footer{
        padding-right:4rem;
        padding-left:4rem;
    }
    .footer-content{
        grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
        row-gap:20px;
        column-gap:20px;
        text-align:left;
    }
}
@media only screen and (max-width:325px){
    footer{
        padding-right:2rem;
        padding-left:2rem;
    }
    .footer-content{
        grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
        row-gap:20px;
        column-gap:20px;
        text-align:left;
    }
}

/* copy right section responsive code */
@media only screen and (max-width:1062px){
    .copyright{
        flex-direction:column;
        gap:10px;
        align-items:center;
    }
}
/* to top button designs */
.to-top{
    position:fixed;
    right:20px;
    bottom:20px;
    padding:10px 16px;
    background-color:var(--primary);
}
.to-top a {
    color: var(--light);
}
.to-top:hover{
    transition:ease 1s;
    color: var(--light) !important;
}
/* copy right section responsive code */
@media only screen and (max-width:1062px){
    .copyright{
        flex-direction:column;
        gap:10px;
        align-items:center;
    }
}
/* to top button designs */
.to-top{
    background-color:var(--secondary);
    position:fixed;
    right:10px;
    bottom:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px;
}
.to-top:hover{
    background-color:var(--primary);
    transition:ease 1s;
    color: var(--light) !important;
}




/*                                middle desing box details container style */

/*                                 Top message box container */

.inner-top-box{
    text-align: center;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}
.inner-top-box h1{
    color: #022b42;
    font-size: 40px;
}
.inner-top-box h5{
    color:#6fc210;
    font-size: 17px;
}
.first-main-box{
    padding: 100px 90px;
}
/*                                           Buttom message box container */
.inner-bottom-box{
    width: 100%;
    min-height: 450px;
    display: grid;
    grid-template-columns:repeat(3,320px) ;
    justify-content: space-around;
    align-items: center;
    
}

 
/*                                      first form box destails styles  */

.first-form-box{
    width: 320px;
    height: 350px;
}
.first-form-box >h3{
    font-size: 22px;
    padding: 10px 0;
    color: rgb(23, 23, 70);
    
}
.first-form-box p{
   color: gray;
}
.form-details{
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}
.form-details button{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    background-color: #61aa0d;
    border: none;
}
.form-details button i{
    font-size: 20px;
    color: white;
}
.form-move h4{
    font-size: 20px;
    padding-bottom: 7px;
    color:#61aa0d;
}
.form-move p{
    color: gray;
}

/*                                      second map form box destails styles  */

.second-map-box{
    width: 320px;
    height: 350px;
}

/*                                      Third contact form box destails styles  */

.third-form-box{
    width: 320px;
    height: 350px;
}
.third-form-box input{
    padding: 20px;
    margin-bottom: 18px;
}
.third-form-box textarea{
    margin-bottom: 18px;
    padding: 20px;
}
.third-form-box button{
    width: 100%;
    padding: 20px;
    background-color: #61aa0d;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.first-in{
    width: 49%;
}
.last-in{
    width: 100%;
}
.third-form-box textarea:hover,input:hover{
    border-color:#61aa0d;
}
    
/*                       Responsive design styles  */

/*                              Tab Screen  */
@media only screen and (min-width:750px) and (max-width:990px){
    .inner-top-box h1{
        font-size: 35px;
    }
    .inner-bottom-box{
        grid-template-columns: repeat(2,350px); 
    }
    .first-form-box{
        width: auto;
        margin-top: 30px;
    }
    .second-map-box{
        width: auto;
        margin-top: 50px;

    }
    .first-in{
        width: 49%;
        margin-top: 30px;
    }
    .space-in{
        margin-right: 5px;
    }
    .third-form-box{
        width: 700px;
        margin-top:30px;
    }
}

/*                           Mobile Screen  */

@media only screen  and (max-width:750px){
    .inner-top-box h1{
        font-size: 30px;
    }
    .inner-bottom-box{
        grid-template-columns: auto;
        width: auto;
        padding: 10px;
    }
    .first-form-box{
        width: auto;
        margin-top: 30px;
        margin-left:50px;
        margin-right: 50px;

    }
    .second-map-box{
        width: auto;
        margin-top: 100px;
        margin-left:50px;
        margin-right: 50px; 
    }
    .third-form-box{
        margin-top: 30px;
        width: auto;
        margin-left:50px;
        margin-right: 50px;}

    .first-in{
        width: 100%;
    }
}

/*                     Loptop Screen Responsive  */

@media only screen and (min-width:990px) {
    .inner-bottom-box{
        gap: 10px;
        padding: 30px;
    }
    .first-form-box{
        width: 300px;
    }
    .second-map-box{
        width: 300px;
    }
    .third-form-box{
        width:300px;
    }
}
